# Test, wie auf Oracle zugegriffen werden kann

(andrea.kennel@fhnw.ch, Version 20230215)

## Einleitung
Mit dem Package oracledb kann auf eine Oracle Datenbank zugegriffen werden.
Mehr Infos gibt es unter: 
https://levelup.gitconnected.com/open-source-python-thin-driver-for-oracle-database-e82aac7ecf5a

In [10]:
# cx_Oracle importieren
import oracledb

In [11]:
# Connection aufbauen
connection = oracledb.connect(user="andrea", password="Oracle4CAS_fhnw",
                              dsn="hades.cs.technik.fhnw.ch/hades19c.hades.fhnw.ch")
#                               dsn="140.238.218.163/db21c_dbarc.sub10080847340.vcnoraclecloudd.oraclevcn.com")

In [12]:
cur = connection.cursor()
for row in cur.execute("SELECT * FROM test"):
    print(row)

('Hallo Welt',)

In [13]:
cur = connection.cursor()
for row in cur.execute("SELECT * FROM dept"):
    print(row)

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [17]:
stmt = """SELECT * FROM dept"""
cur = connection.cursor()
cur.execute(stmt)
rows = cur.fetchall()
print(rows)

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON')]

In [18]:
stmt = """SELECT * FROM dept"""
cur = connection.cursor()
cur.execute(stmt)
while True:
    row = cur.fetchone()
    if row is None:
        break
    print(row)

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [19]:
# Metadaten abfragen
stmt = """SELECT * FROM dept"""
cur = connection.cursor()
cur.execute(stmt)
for column in cur.description:
    print(column)

('DEPTNO', <DbType DB_TYPE_NUMBER>, 3, None, 2, 0, False)
('DNAME', <DbType DB_TYPE_VARCHAR>, 14, 14, None, None, True)
('LOC', <DbType DB_TYPE_VARCHAR>, 13, 13, None, None, True)

In [29]:
import pandas as pd
stmt = """
SELECT 
  emp.empno, 
  emp.ename, 
  emp.job,
  emp.deptno,
  dept.dname, 
  dept.loc
FROM emp LEFT OUTER JOIN 
     dept ON (emp.deptno = dept.deptno)
"""
df = pd.read_sql_query(stmt, connection)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

   EMPNO   ENAME        JOB  DEPTNO       DNAME       LOC
0   7782   CLARK    MANAGER      10  ACCOUNTING  NEW YORK
1   7839    KING  PRESIDENT      10  ACCOUNTING  NEW YORK
2   7934  MILLER      CLERK      10  ACCOUNTING  NEW YORK
3   7369   SMITH      CLERK      20    RESEARCH    DALLAS
4   7566   JONES    MANAGER      20    RESEARCH    DALLAS