# Workshop 5: Window functions

Mit Window-Functions können in Queries Werte von mehreren Zeilen miteinander verglichen werden. Sie sind mächtig werden aber relativ selten benutzt.

* Schwierigkeit: fortgeschritten
* Prüfungsrelevant: nein
* Zeitaufwand: 15min

## Vorbereitung
Das [sqltutorial](https://www.sqlitetutorial.net/sqlite-window-functions/) bietet eine recht einfache Einführung ins Thema Window-Functions. Bitte diese Seite durchlesen.

In [2]:
# Hilfsfunktionen laden und ...
from util.sqlite_util import *

# ... Test-Datenbank öffnen
path = get_connection_path("chinook.sqlite")
connection = create_connection(path)

Connection to SQLite DB 2.6.0 (./data/chinook.sqlite) successful

In [3]:
# Es folgen nun zwei Beispiel für die Chiook-Datenbank.
# Spalte 3 gibt mit LEAD() das Total vom jeweils nächsten Jahr zurück.
stmt="""
SELECT
	CustomerId,
	Year,
	Total,
	LEAD ( Total,1,0) OVER ( ORDER BY Year ) NextYearTotal
FROM
	CustomerInvoices 
WHERE
	CustomerId = 1;
"""
cur = execute_query(connection, stmt)
print_results(cur)

['CustomerId', 'Year', 'Total', 'NextYearTotal']
(1, '2010', 13.879999999999999, 0.99)
(1, '2011', 0.99, 15.84)
(1, '2012', 15.84, 8.91)
(1, '2013', 8.91, 0)

In [4]:
# Benutze FIRST_VALUE um den ersten Wert in einem Datenset auszulesen. 
# '1.0 *' stellt sicher, dass mit Float anstatt Integer gerechnet wird.
stmt="""
SELECT AlbumId, name, bytes, 1.0 * bytes /
    FIRST_VALUE(bytes) OVER (
        PARTITION BY AlbumId
        ORDER BY bytes DESC
    ) AS FractionOfLongestTrack
FROM
    tracks
ORDER By albumid, bytes DESC
LIMIT 50;
"""
cur = execute_query(connection, stmt)
print_results(cur)

['AlbumId', 'Name', 'Bytes', 'FractionOfLongestTrack']
(1, 'For Those About To Rock (We Salute You)', 11170334, 1.0)
(1, 'Spellbound', 8817038, 0.7893262636551422)
(1, 'Evil Walks', 8611245, 0.7709030902746506)
(1, 'Breaking The Rules', 8596840, 0.7696135137946636)
(1, "Let's Get It Up", 7636561, 0.6836466125363844)
(1, 'Inject The Venom', 6852860, 0.6134874749492719)
(1, 'Put The Finger On You', 6713451, 0.6010071856401071)
(1, 'Night Of The Long Knives', 6706347, 0.600371215399647)
(1, 'Snowballed', 6599424, 0.5907991650025863)
(1, 'C.O.D.', 6566314, 0.5878350638396309)

Aufgabe 5.1: Wählen eine Window-Funktion aus der Tabelle in [https://www.sqlitetutorial.net/sqlite-window-functions/](https://www.sqlitetutorial.net/sqlite-window-functions/) aus und implemententiere die entsprechenden Beispiele hier. 
In WS03 findest du Beispiel-Code, um die Datenbank zu erstellen.

In [7]:
# benutze eine neue Datenbank
connection.close()

# ... Test-Datenbank öffnen
path = get_connection_path("ws05.sqlite")
connection = create_connection(path)

Connection to SQLite DB 2.6.0 (./data/ws05.sqlite) successful